@import '../../assets/css/m.css';
#wrapper {
    margin-top: 35px;
}

.content p {
    text-align: center;
}

.content p input {
    height: 40px;
    border: none;
    width: 88%;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
    font-family: "Microsoft YaHei";
    padding-left: 2%;
    font-size: 16px;
    background: #fff;
}

#sure {
    background: #CCCCCC;
    color: #fff;
}

.submit-sure {
    color: #fff!important;
    background: #2789e2!important;
}

.dels {
    display: none;
    position: absolute;
    right: 6%;
    padding-top: 10px;
}

.dels img {
    width: 62%;
}

header {
    position: fixed;
    width: 100%;
    height: 44px;
    background: #2889e3;
    line-height: 44px;
    text-align: center;
    font-size: 17px;
    color: #ffffff;
    z-index: 999;
}

.icon-input-clear {
    position: absolute;
    right: 43px;
    height: 40px;
    top: 11%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.icon-input-clear::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26px;
    height: 26px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #ccc;
    color: #fff;
}

.icon-input-clear .icon-cross {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
}

.icon-cross::before,
.icon-cross::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 14px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: currentColor;
}

.icon-cross::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}